.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px 40px;

  width: 1280px;
  margin: 0 auto;

  .grid__col-1 {
    grid-column-start: span 1;
  }
  .grid__col-2 {
    grid-column-start: span 2;
  }
  .grid__col-3 {
    grid-column-start: span 3;
  }
  .grid__col-4 {
    grid-column-start: span 4;
  }
  .grid__col-5 {
    grid-column-start: span 5;
  }
  .grid__col-6 {
    grid-column-start: span 6;
  }
  .grid__col-7 {
    grid-column-start: span 7;
  }
  .grid__col-8 {
    grid-column-start: span 8;
  }
  .grid__col-9 {
    grid-column-start: span 9;
  }
  .grid__col-10 {
    grid-column-start: span 10;
  }
  .grid__col-11 {
    grid-column-start: span 11;
  }
  .grid__col-12 {
    grid-column-start: span 12;
  }
}

@media screen and (max-width: 1280px) {
  .grid {
    width: 100%;
  }
}